
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Randomly generated CV using Google's autocomplete suggestions">
  <meta name="author" content="Kieran Hunt">

  <title>Autocomplete CV</title>

  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1 class="text-center">CV</h1>
    <p>
      <div id='name'><%= cv[:name] %></div>
      <div id='address'><%= cv[:address] %></div>
      <div id='phone'><%= cv[:phone] %></div>
      <div id='email'><%= cv[:email] %></div>
    </p>
    <div id ='Personal Information' >
      <h3>Personal Information</h3>
      Date of birth: <%= cv[:date_of_birth] %> <br/>
      Marital Status: <%= cv[:marital_status] %> <br/>
      Nationality: <%= cv[:nationality] %> <br/>
      Languages: <%= cv[:languages] %> <br/>
      Sex: <%= cv[:sex] %> <br/>
      <h3>Profile</h3>
      <%= cv[:profile_1] %> <%= cv[:profile_2] %>
      <h3>Core Competencies</h3>
      <%= cv[:core_competencies] %>
      <h3>Professional Experience</h3>
      <%= cv[:professional_experience_1] %> <%= cv[:professional_experience_2] %>
      <h3>Professional Qualifications</h3>
      <%= cv[:professional_qualifications_1] %> <%= cv[:professional_qualifications_2] %>
    </div>
    <div>
      <%= cv[:please_hire_1] %> <%= cv[:please_hire_2] %>
    </div>
    <div>
      <%= cv[:thanks] %>
    </div>

    <div id='footer'>
      Idea nicked from: <a href = "https://twitter.com/TechnicallyRon/status/880379075235336192">@TechnicallyRon</a></br>
      Page generated at: <%= Time.now.utc %>
    </div>
  </div>
</body>
</html>
